* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    font-family: "Assistant", Arial, sans-serif;
    font-weight: 400;
}

.side-fill {
    flex: 1 2 auto;
    background-color: #b823c0;
}

.main {
    flex: 0 1 76rem;
    display: flex;
    flex-direction: column;
    background-color: #b823c0;
    color: white;
    padding: 0 3rem;
}  

.top-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 0;
}

.nav-item-menu, .nav-item-search, .nav-item-programme {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.nav-item-search {
    margin-left: 1rem;
}

.site-title {
    max-width: 100%;
    margin: 4rem 0 -7.8% 0;
    z-index: 999;
}

.logo {
    max-width: 100%;
}



/* just confirmed artists */


.just-confirmed {
    display: flex;
}

.jc-left {
    flex: 1 1 50.5rem;
    display: flex;
    flex-direction: column;
}

.jc-left-top {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.img-container-large {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    z-index: -1;
    margin-bottom: -8.3rem;
}

.jc-img-large {
    max-width: 170%;
    margin-left: -35%;
    transition: all .8s ease-in-out;
}

.jc-img-large:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}

/* poging tot een donkere gradient op de foto

.dark-overlay {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.45)),
      url(./marenmorris.jpg);

    max-width: 170%;
    margin-left: -35%;
} */

.title-block-large {
    margin: 0 0 0 2rem;
}

.jc-title-large {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.artist-title-large {
    font-size: 3rem;
    font-weight: 600;
    margin: -1rem 0 0 0;
}

.jc-left-bottom {
    display: flex;
}

.jc-left-bottom-square {
    text-decoration: none;
    color: white;
    flex: 1 1 25.25rem;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
}

.img-container-small {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    z-index: -1;
    margin-bottom: -6.3rem;
}

.jc-img-small-1 {
    max-width: 130%;
    margin-left: -16%;
    transition: all .8s ease-in-out;
}

.jc-img-small-1:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}

.jc-img-small-2 {
    max-width: 160%;
    margin-left: -15%;
    transition: all .8s ease-in-out;
}

.jc-img-small-2:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}

.jc-img-small-3 {
    max-width: 150%;
    margin-left: -25%;
    transition: all .8s ease-in-out;
}

.jc-img-small-3:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}

.title-block {
    margin: 0 0 0 2rem;
}

.jc-title {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}

.artist-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 0 0;
    line-height: 2rem;
}

.jc-right {
    flex: 1 1 25.25rem;
    display: flex;
    flex-direction: column;
}

.jc-right-top {
    background-color: gray;
    flex: 1 1 auto;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.jc-right-bottom {
    flex: 1 1 auto;
    height: 0;
    padding-bottom: 200%;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.img-container-long {
    height: 0;
    padding-bottom: 200%;
    overflow: hidden;
    z-index: -1;
    margin-bottom: -6.3rem;
}

.jc-img-long {
    width: 300%;
    margin-left: -125%;
    transition: all .8s ease-in-out;
}

.jc-img-long:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}


/* PROGRAMME */


.programme-title {
    font-family: Arial, sans-serif;
    font-size: 11.4vw;
    letter-spacing: -.55rem;
    margin: 2rem 0 0 -.9rem;
}

.today-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.today-blocks {
    display: flex;
    margin-top: .6rem;
}

.today-block {
    flex: 0 1 19rem;
    height: 0;
    padding-bottom: 110%;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.img-container-today {
    height: 0;
    padding-bottom: 110%;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.today-img-1 {
    width: 170%;
    transition: all .8s ease-in-out;
}

.today-img-1:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}

.today-img-2 {
    width: 220%;
    margin-left: -53%;
    transition: all .8s ease-in-out;
}

.today-img-2:hover {
    transform: scale(1.2);
    transition: all .8s ease-in-out;
}

.title-block-today-1 {
    margin: -8.5rem 1.4rem 0 1.4rem;
}

.title-block-today-2 {
    margin: -6.4rem 1.4rem 0 1.4rem;
}

.today-event-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}

.today-location{
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}

.today-time {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}


/* CALENDAR NAV */

.calendar-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.cal-nav-right {
    margin-left: 3rem;
}

.cal-nav-sel, .cal-nav-item {
    padding: 1rem 1.5rem;
}

.cal-nav-sel {
    text-decoration: none;
    color: white;
    background-color: #701475;
}

.cal-nav-item {
    text-decoration: none;
    color: #fbadff;
}



/* CALENDAR */

.calendar {
    margin-bottom: 5rem;
}

.day-section {
    border-bottom: 1px solid #fbadff;
    display: flex;
}

.calendar-date {
    flex: 0 1 12.5rem;
    font-weight: 600;
    color: #fbadff;
    font-size: 1.6rem;
}

.calendar-events {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.calendar-event {
    display: flex;
    justify-content: space-between;
}

.calendar-event-name-descr {
    flex: 1 1 auto;
    transition: all .2s ease-out;
    text-decoration: none;
    color: white;
}

.calendar-event-name-descr:hover {
    transform: translate(1.2rem);
    transition: all .2s ease-out;
}


.calendar-event-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0rem;
}

.calendar-event-description {
    font-weight: 300;
    color: #fbadff;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.calendar-event-time {   
    font-weight: 300;
    color: #fbadff;
}



@media only screen and (max-width: 1028px) {
   
    .jc-title-large {
        font-size: 2rem;
    }
    
    .artist-title-large {
        font-size: 2rem;
        margin: -.3rem 0 0 0;
    }

    .img-container-large {
        margin-bottom: -6.5rem;
    }

    .jc-title {
        font-size: 1.2rem;
    }
    
    .artist-title {
        font-size: 1.2rem;
        margin: -.2rem 0 0 0;
        line-height: 2rem;
    }
    
    .img-container-small {
        margin-bottom: -5rem;
    }

    .img-container-long {
        margin-bottom: -5rem;
    }

    .programme-title {
        font-size: 17.5vw;
        letter-spacing: -.6rem;
    }
}



@media only screen and (max-width: 800px) {

}